/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
body {
  background: grey;
}

/* line 14, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 18, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 23, ../sass/screen.scss */
#main-wrapper {
  height: 100%;
  width: 100%;
}

/* line 28, ../sass/screen.scss */
.main {
  background: white;
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 900px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(50, 50, 50, 0.75) 0px 0px 50px;
  -moz-box-shadow: rgba(50, 50, 50, 0.75) 0px 0px 50px;
  box-shadow: rgba(50, 50, 50, 0.75) 0px 0px 50px;
  margin: 0 auto;
}

/* line 42, ../sass/screen.scss */
#page-main .ui-header .app-title {
  display: inline-block;
  float: left;
  margin: 1em auto;
}
/* line 47, ../sass/screen.scss */
#page-main .ui-header .options {
  width: 15%;
  display: inline-block;
}
/* line 55, ../sass/screen.scss */
#page-main .ui-content .transit-list .ui-li-divider {
  height: 30px;
}
/* line 58, ../sass/screen.scss */
#page-main .ui-content .transit-list li {
  height: 120px;
}

/* line 69, ../sass/screen.scss */
#navigation .nav-list li {
  width: 25%;
  float: left;
  text-align: center;
  font: 1.5em white;
}
