/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";


body{
	background: white;
	min-width: 300px;
	overflow-x: auto;
}

li{
	list-style: none;
}

html{
	width:  100%;
	height:  100%;
}

#main-wrapper{
	height: 100%;
	width: 	100%;
}

#page-stops{
	min-width: 350px;
	.ui-header{
		.app-title{
			display: inline-block;
			float: left;
			margin: 1em auto;
		}
		.options{
			width: 15%;
			display: inline-block;
		}

	}
	.ui-content{
		.transit-list{
			.ui-li-divider	{
				height: 30px;
			}
			li.bus{
				min-height: 120px;
				vertical-align: middle;
				.col-icon{
					float: left;
					margin-right: 20px;
					height: 120px;
					img{
						height: 40px;
						margin: 2em auto;
						float: left;
					}
					.transit-type{
						font-size: 1.5em;
						color: red;
						position: absolute;
						left: 	35px;
						bottom: 20px;
					}
				}
				.col-info{
					margin: 1em 0;
					white-space: normal;
					margin-right: 60px;

				}
				.col-time{
					position: absolute;
					right: 40px;
					display: inline-block;
					.time-icon-outer{
						background:  gray;
						height: 50px;
						width:   50px;
						@include border-radius(50%);
						position: relative;
						margin: 2em 0;
					}
					.time-icon-inner{
						@include border-radius(50%);
						background:  orange;
						position: absolute;
						left: 5px;
						top:  5px;
						height: 40px;
						width: 40px;

						.time-text{
							text-align: center;
							color: white;
							.time{
								margin: .3em 0;
								font-size: 2em;
								display: block;
							}
							.time-metric{

							}
						}
					}
				}
			}
		}
	}
}


#navigation{

	.nav-list{
		li{
			width: 25%;
			float: left;
			text-align: center;
			font:  1.5em white;
		}
	}
}