/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";


body{
	background: grey;
}

li{
	list-style: none;
}

html{
	width:  100%;
	height:  100%;
}

#main-wrapper{
	height: 100%;
	width: 	100%;
}

.main{
	background: white;
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 900px;
	overflow: hidden;

	@include border-radius(20px);
	@include box-shadow(rgba(50, 50, 50, 0.75) 0px 0px 50px );
	margin: 0 auto;
}

#page-main{
	.ui-header{
		.app-title{
			display: inline-block;
			float: left;
			margin: 1em auto;
		}
		.options{
			width: 15%;
			display: inline-block;
		}

	}
	.ui-content{
		.transit-list{
			.ui-li-divider	{
				height: 30px;
			}
			li{
				height: 120px;
			}
		}
	}
}
img{
	height: 80%;
}


#navigation{

	.nav-list{
		li{
			width: 25%;
			float: left;
			text-align: center;
			font:  1.5em white;
		}
	}
}